body{ background-image:url(/media/vadmin_assets/images/bgt.jpg); margin:0; padding:0; }
#wrapper{ padding:21px 0 0; background-image:url(/media/vadmin_assets/images/bg.jpg); background-repeat: repeat-x; min-height: 389px; }

.white_box{ border:solid 1px #bbbbbb; background:#FFF; padding:10px; -moz-border-radius:5px; -webkit-border-radius:5px; font-size:12px; font-family: Arial; }
.white_box h1{ margin:0; padding:0; font-weight:bold; font-size:20px; color:#486a9a; font-family: Arial; }
.white_box p{ font-size:12px; font-family: Arial; }

.white_box_nr{ border:solid 1px #bbbbbb; background:#FFF; padding:10px; font-size:12px; font-family: Arial; }
.white_box_nr h1{ margin:0; padding:0; font-weight:bold; font-size:20px; color:#486a9a; font-family: Arial; }
.white_box_nr p{ font-size:12px; font-family: Arial; }

.off_white_box{ border:solid 1px #bbbbbb; background:#efece5; padding:10px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.off_white_box h1{ margin:0; padding:0; font-weight:bold; font-size:20px; color:#486a9a; font-family: Arial; }
.off_white_box p{ font-size:12px; font-family: Arial; }

.blue_box{ border:solid 1px #455673; background:#47679a url("/media/vadmin_assets/images/bbg.jpg"); height:27px; padding:10px; -moz-border-radius:5px; -webkit-border-radius:5px; color:#FFF; font-size:12px; font-family: Arial; }
.blue_box h1{ margin:0; padding:0; font-weight:bold; font-size:20px; color:#FFF; font-family: Arial; text-shadow: 1px 1px 0 #000; }
.blue_box p{ font-size:12px; font-family: Arial; color:#FFF; }
.blue_box a{ color:#FFF; font-size:12px; text-decoration: none; font-family: Arial; }

.blue_box_nr{ border:solid 1px #455673; background:#47679a url("/media/vadmin_assets/images/bbg.jpg"); height:27px; padding:10px; color:#FFF; font-size:12px; font-family: Arial; }
.blue_box_nr h1{ margin:0; padding:0; font-weight:bold; font-size:20px; color:#FFF; font-family: Arial; text-shadow: 1px 1px 0 #000; }
.blue_box_nr p{ font-size:12px; font-family: Arial; color:#FFF; }

.clear{clear:both;}

.blue_button{ -moz-border-radius:5px; -webkit-border-radius:5px; height:48px; background-image:url(/media/vadmin_assets/images/bbg.jpg); background-repeat: repeat-x; border:solid 1px #425879; text-align:center; color:#FFF; text-shadow:1px 1px 0 #1d3453; font-weight:bold; cursor: pointer; }
.blue_button:hover{ color:#FFF !important; background-image: url(/media/vadmin_assets/images/bbgo.jpg); }

.errors{ font-weight:bold; color:#FFF; background:#780f18; font-family: Arial; padding:5px; text-align: left; font-size: 12px; margin:1px 0 0; }

.responses{ font-weight:bold; color:#000; background:#fcfedb; font-family: Arial; padding:5px; text-align: left; font-size: 12px; margin:1px 0 0; }

.pagination{ margin-left:25px; }
.pagination a{  padding:5px; background:#7897cc; -moz-border-radius:5px; -webkit-border-radius:5px; color:#47679a; text-shadow: none !important; }
.pagination a:hover{ background:#6584b8; color:#1e365f; }
.pagination strong{  padding:5px; background:#253756; -moz-border-radius:5px; -webkit-border-radius:5px; color:#FFF; text-decoration: 1px 1px 0 #000; }

.caption{ color:#BBB; font-size:10px; }

/* Round Corners */

.round
{
-moz-border-radius:5px;
-webkit-border-radius:5px;
}

.round-top
{
-moz-border-radius-topright:5px;
-moz-border-radius-topleft:5px;
-webkit-border-top-right-radius:5px;
-webkit-border-top-left-radius:5px;
}

.round-top-right
{
-moz-border-radius-topright:5px;
-webkit-border-top-right-radius:5px;
}

.round-bottom-right
{
-moz-border-radius-bottomright:5px;
-webkit-border-bottom-right-radius:5px;
}

.round-bottom
{
 -moz-border-radius-bottomright:5px;
 -moz-border-radius-bottomleft:5px;
 -webkit-border-bottom-right-radius:5px;
 -webkit-border-bottom-left-radius:5px;
}

.round-bottom-left
{
-moz-border-radius-bottomleft:5px;
-webkit-border-bottom-left-radius:5px;
}

.round-top-left
{
-moz-border-radius-topleft:5px;
-webkit-border-top-left-radius:5px;
}




/* NORMAN: Added for the progress bar */
.progress {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image:      -o-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#f5f5f5));
  background-image:         linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
  background-repeat: repeat-x;
}
.progress-bar {
  background-image: -webkit-linear-gradient(top, #337ab7 0%, #286090 100%);
  background-image:      -o-linear-gradient(top, #337ab7 0%, #286090 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#286090));
  background-image:         linear-gradient(to bottom, #337ab7 0%, #286090 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff286090', GradientType=0);
  background-repeat: repeat-x;
}
.progress-bar-success {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #449d44 100%);
  background-image:      -o-linear-gradient(top, #5cb85c 0%, #449d44 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb85c), to(#449d44));
  background-image:         linear-gradient(to bottom, #5cb85c 0%, #449d44 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
  background-repeat: repeat-x;
}
.progress-bar-info {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #31b0d5 100%) !important;
  background-image:      -o-linear-gradient(top, #5bc0de 0%, #31b0d5 100%) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#31b0d5)) !important;
  background-image:         linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0) !important;
  background-repeat: repeat-x !important;
}
.progress-bar-warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
  background-image:      -o-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ad4e), to(#ec971f));
  background-image:         linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);
  background-repeat: repeat-x;
}
.progress-bar-danger {
  background-image: -webkit-linear-gradient(top, #d9534f 0%, #c9302c 100%);
  background-image:      -o-linear-gradient(top, #d9534f 0%, #c9302c 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9534f), to(#c9302c));
  background-image:         linear-gradient(to bottom, #d9534f 0%, #c9302c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
  background-repeat: repeat-x;
}
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}