</article>
</div>
<div class="col-md-4">
    <aside>
        <section>
            <div class="boxed">
                <div class="border-wrap ">
                    <div class="top"></div>
                    <div class="mid">
                        <div class="inner">
                            <h2>Apply as a reader</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </p>

                        </div>
                    </div>
                    <div class="footer-box">
                        <div class="box-btn"><a class="btn btn-primary btn-lg" href="#" role="button">View details</a></div>

                    </div>
                    <div class="curve"></div>
                </div>
            </div>
        </section>

        <section>
            <div class="boxed">
                <div class="border-wrap">
                    <div class="top"></div>
                    <div class="mid">
                        <div class="inner">
                            <h2>Interested in both options?</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>

                        </div>
                    </div>
                    <div class="footer-box">
                        <div class="box-btn"><a class="btn btn-primary btn-lg" href="#" role="button">View details</a></div>
                    </div>
                    <div class="curve"></div>

                </div>
            </div>
        </section>
    </aside>
</div>
</div>
</div>

</div>

<section>
    <div class="ad-holder text-center"><img src="/media/themes/yello-cool/images/banner-ad.png" alt="" class="img-responsive"></div>
    <div class="ad-holder text-center"><img src="/media/themes/yello-cool/images/certificates.png" alt="" class="img-responsive"></div>
</section>
</div> <!-- /container -->

<footer class="footer">

    <div class="text-center footer-links">
        <div class="seperator">&nbsp;</div>
        <ul class="nav">
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a href="/disclaimer">Disclaimer&Terms</a></li>
            <li><a href="/sitemap">Site Map</a></li>
            <li><a href="/affiliate-program">Affiliate Program</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/register/choose_membership">Psychic? Create An Account!</a></li>

        </ul>

    </div>

    <div class="copy">
        <p class="text-center">Copyright 2016 Chat-Psychics All rights reserved. <span class="privacy">Cookies and Privacy Policy</span> </p>

    </div>

</footer>
</body>
</html>